snippet tbl "Basic Table" i
| ${1:heading} |
endsnippet

snippet -- "table divider" i
| -- |
endsnippet

snippet Day "quote-day" b
### Day $1

* $2 - $3 hours

#### Billable Hours - $3 ::$4
endsnippet
